---
layout: default
title: Tags
menu: Tags
permalink: /tags/
public: true
---

<div class="list-content">
	<ul class="tag-list-box" id="tags-list">
		{% assign tagsList = site.tags %}
		{% if tagsList.first[0] == null %}
		{% for tag in tagsList %}
		<li>
			<a href="#{{ tag[0] }}-ref">
				{{ tag | capitalize }} <span class="badge">({{ site.tags[tag].size }})</span>
			</a>
		</li>
		{% endfor %}
		{% else %}
		{% for tag in tagsList %}
		<li>
			<a href="#{{ tag[0] }}-ref">
				{{ tag[0] | capitalize }} <span class="badge">({{ tag[1].size }})</span>
			</a>
		</li>
		{% endfor %}
		{% endif %}
		{% assign tagsList = nil %}
	</ul>
</div>

<div class="list-article-list">
	{% for tag in site.tags %}
	<div id="{{ tag[0] | replace:' ','-' }}-ref">
		<h2>{{ tag[0] | capitalize }}</h2>
		<ul class="list-unstyled">
			{% assign pageList = tag[1] %}
			{% for node in pageList %}
			{% if node.title != null %}
			{% if group == null or group == node.group %}
			<li style="line-height: 35px;"><span class="text-muted">{{ node.date | date: "%Y-%m-%d" }} &nbsp;&nbsp;&nbsp; </span><a href="{{ site.BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
			{% endif %}
			{% endif %}
			{% endfor %}
			{% assign pageList = nil %}
		</ul>
	</div>
	{% endfor %}
</div>
