/* SCSS Document */
HTML,body{overflow:hidden;}	/* 隐藏body滚动条 */
body, div, span, a, ul, li {margin:0; padding:0;}

$titleColor:#333333;    //窗口标题颜色
$titleBgColor:#F8F8F8; //标题框背景色
$contentBgColor:#ffffff; //内容框背景色
$winBorderColor:#dddddd; //窗口边框颜色
$titleBorderColor:#eeeeee; //标题下边框颜色

$taskBarBgColor:#666666; //任务栏背景色

$titleHeight:42px;  //标题高度

/*去掉IE下点击会出现虚线框*/
a {
	outline:none;
	blr:expression(this.onFocus=this.blur());

	&:active {outline:none;}
	&:visited {outline:none;}
}

/* pop window styles */
.jwindow_box {
	zoom:1; overflow:hidden;

	.jwindow_title_box {
		box-sizing: content-box;
		height: $titleHeight;
		line-height: $titleHeight;

		.jwindow_title {
			text-align:left;
			height: $titleHeight;
			line-height: $titleHeight;
			cursor: default;

		}

		div {
			box-sizing: content-box;
			a {box-sizing: content-box;}
		}
	}

	.jwindow_content {
		background-color:$contentBgColor;
		margin:5px;
		overflow:auto;
		text-align:left;
	}
}

//default skin styles
.jwindow_default {
	border:1px solid $winBorderColor;
	-webkit-background-clip: content;
	box-shadow: 1px 1px 50px rgba(0,0,0,.3);
	background-color: $contentBgColor;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;

	.jwindow_title_box {
		padding: 0 80px 0 10px;
		border-bottom: 1px solid $titleBorderColor;
		font-size: 14px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		background-color: $titleBgColor;
		border-radius: 2px 2px 0 0;
		position: relative;

		//标题样式
		.jwindow_title {
			color: $titleColor;
		}

		//标题栏按钮
		.jwindow_button {
			position: absolute;
			width:90px;
			height:40px;
			zoom:1; overflow:hidden;
			top:5px; right: 10px;

			a {
				float:left;
				background: url(../images/bg-default.png) no-repeat;
				width:24px;
				height:20px;
				margin:5px 2px 0;
			}

			.jwindow_min_button {
				background-position:5px -36px;
				&:hover {background-position:5px 2px;}
			}
			.jwindow_max_button {
				background-position:-25px -36px;
				&:hover {background-position:-25px 3px;}
			}
			.jwindow_reduce_button {
				background-position:-83px -36px;
				&:hover {background-position:-83px 3px;}
			}
			.jwindow_close_button {
				background-position:-53px -36px;
				&:hover {background-position:-53px 3px;}
			}
		}
	}

}

/* 任务拦样式控制 */
#jwindow_task_bar_bg {
	z-index:2000;
	position:absolute;
	background-color:$taskBarBgColor;
	height:25px;
}
#jwindow_task_bar {
	margin-left:auto;
	margin-right:auto;
	zoom:1; overflow:hidden;
	padding:5px 0px;
	z-index:2000;
	position:absolute;

	#jwindow_task_ul {
		width:10000px;
		zoom:1; overflow:hidden;
	}

	/* 任务按钮样式控制 */
	.task_item_li {
		list-style:none;
		float:left;
		text-align:center;
		cursor:pointer;

		.task_item {
			display:inline-block;
			height:64px; width:112px;
			background:none;
			background:url(../images/bg_task_notify.png) no-repeat center center;
			zoom:1; overflow:hidden;
			text-decoration:none;

			&:hover {background-image:url(../images/bg_task_over.png);}

			.task_item_icon {
				float:left;
				position:relative;
				top:20px; left:5px;
				cursor:pointer;
			}

			.task_item_txt {
				float:left;
				position:relative;
				top:35px; left:10px;
				font-size:12px;
				color:#FFF;
				cursor:pointer;
			}
		}

		.task_item_unnotify {
			background-image:url(../images/bg_task_current.png);
		}
	}

}
